{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ================= HERO ================= -->
<div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">
    {% for b in banners %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <a href="{{ b.link }}">
        <img src="{{ b.image.url }}" class="d-block w-100 hero-img">
      </a>
    </div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>

  <!-- ================= BRAND STRIP ================= -->
  <div class="brand-strip">
    <div class="brand-marquee">
      <div class="brand-container">

        {% for i in "123456"|make_list %}
        <div class="brand-item"><img src="{% static 'images/brands/innisfree.png' %}"></div>
        <div class="brand-item"><img src="{% static 'images/brands/sulwhasoo.png' %}"></div>
        <div class="brand-item"><img src="{% static 'images/brands/etude.png' %}"></div>
        <div class="brand-item"><img src="{% static 'images/brands/laneige.png' %}"></div>
        <div class="brand-item"><img src="{% static 'images/brands/cosrx.png' %}"></div>
        <div class="brand-item"><img src="{% static 'images/brands/missha.png' %}"></div>
        {% endfor %}

      </div>
    </div>
  </div>

</div>


<!-- ================= PRODUCTS ================= -->
<div class="container mt-5">

  <!-- 🔥 AJAX TABS -->
  <div class="product-tabs">
    <a href="#" data-tab="new" class="tab-link active">Just Dropped</a>
    <a href="#" data-tab="sold" class="tab-link">Most Sold</a>
    <a href="#" data-tab="deal" class="tab-link">Hot Deal</a>
  </div>

  <!-- 🔥 PRODUCT GRID (AJAX REPLACED) -->
  <div id="product-container">
    {% include "partials/product_grid.html" %}
  </div>

</div>
<!-- ================= BANNER SECTION-2 ================= -->
<div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">
    {% for b in bannerssection2 %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <a href="{{ b.link }}">
        <img src="{{ b.image.url }}" class="d-block w-100 hero-img">
      </a>
    </div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>


<!-- ================= SHOP BY PRICE ================= -->
<div class="container mt-5">
  <!-- <h5 class="text-center mb-4" style="font-weight: 900;">Shop With Price</h5> -->
  <h5 class="mb-4" style="font-weight: 900;">Shop With Price</h5>

  <div class="price-boxes">
  <a href="{% url 'price_filter' %}?min=10&max=99" class="price-box price-1 shop-price-link">
    <div class="big">10 AED</div>
    <div class="small">TO</div>
    <div class="big">99 AED</div>
  </a>

  <a href="{% url 'price_filter' %}?min=100&max=199" class="price-box price-2  shop-price-link">
    <div class="big">100 AED</div>
    <div class="small">TO</div>
    <div class="big">199 AED</div>
  </a>

  <a href="{% url 'price_filter' %}?min=200&max=499" class="price-box price-3  shop-price-link">
    <div class="big">200 AED</div>
    <div class="small">TO</div>
    <div class="big">499 AED</div>
  </a>

  <a href="{% url 'price_filter' %}?min=500&max=999" class="price-box price-4  shop-price-link">
    <div class="big">500 AED</div>
    <div class="small">TO</div>
    <div class="big">999 AED</div>
  </a>

  <a href="{% url 'price_filter' %}?min=1000" class="price-box price-5  shop-price-link">
    <div class="big">1000 AED</div>
    <div class="small">ABOVE</div>
  </a>
</div>

</div>

<!-- ================= K BEAUTY ROUTINE ================= -->
<div class="container mt-5">

  <h5 class=" mb-4 fw-bold">Find your K-Beauty Routine</h5>

  <div class="routine-grid">

    {% for item in routine_items %}
      <a href="{% url 'tag_products' item.tag %}" class="routine-card">

        <div class="routine-img">
          <img src="{{ item.image.url }}" alt="{{ item.name }}">
        </div>

        <div class="routine-label">
          {{ item.name }} →
        </div>

      </a>
    {% endfor %}

  </div>

</div>

<!-- ================= PROMOTIONAL CARDS ================= -->
<div class="promo-wrapper">

  {% for promo in promos %}
  <a href="{% url 'tag_products' promo.tag %}" class="promo-card">

    <div class="promo-img">
      <img src="{{ promo.image.url }}" alt="{{ promo.title }}">
    </div>

    <div class="promo-content">
      <h3>{{ promo.title }}</h3>
      <span class="shop-now">SHOP NOW →</span>
    </div>

  </a>
  {% endfor %}

</div>

<!-- ================= BANNER SECTION-3 ================= -->
<div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">
    {% for b in bannerssection3 %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <a href="{{ b.link }}">
        <img src="{{ b.image.url }}" class="d-block w-100 hero-img">
      </a>
    </div>
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<!-- ================= ACCESSORIES ================= -->
<div class="container mt-5">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="fw-bold">Accessories</h4>

    <a href="/category/accessories/" class="btn btn-outline-dark btn-sm">
      View All
    </a>
  </div>

  <div class="product-grid">

    {% for p in accessories_products %}

    <div class="product-col">

      <div class="product-card">

        <a href="{% url 'product_detail' p.slug %}" class="text-decoration-none">

          <!-- IMAGE -->
          <div class="product-img">
            <img src="{{ p.image.url }}">
          </div>

          <!-- INFO -->
          <div class="product-info">

            <div class="product-title">
              {{ p.name }}
            </div>

            {% if user.is_authenticated %}

              {% if p.display_price is not None %}
                <div class="price {% if user.userprofile.account_type == 'wholesale' %}text-success{% endif %}">
                  AED {{ p.display_price }}
                </div>
              {% else %}
                <div class="pending">
                  Your wholesale account is under review.
                </div>
              {% endif %}

            {% else %}

              <a href="{% url 'login' %}" class="login-price">
                Login to view price
              </a>

            {% endif %}

          </div>

        </a>

        <!-- ADD TO CART -->
        {% if user.is_authenticated %}
        {% with profile=user.userprofile %}

          {% if profile.account_type == 'wholesale' and not profile.approved %}

          {% else %}

            {% if p.stock > 0 %}
              <form method="POST" action="{% url 'add_to_cart' p.id %}">
                {% csrf_token %}

                <button class="btn-cart">
                  ADD TO CART
                </button>
              </form>

            {% else %}

              <button class="btn-cart disabled" disabled>
                OUT OF STOCK
              </button>

            {% endif %}

          {% endif %}

        {% endwith %}
        {% endif %}

      </div>

    </div>

    {% empty %}

    <p>No accessories found.</p>

    {% endfor %}

  </div>

</div>

{% endblock %}