{% extends "base.html" %}

{% block content %}

<div class="auth">
  <div class="auth-box">

    <h4 class="mb-3">Create Individual Account</h4>

    <form method="POST">
      {% csrf_token %}

        {% if form.errors %}
        <div class="error-box">
          {% for field in form %}
            {% for error in field.errors %}
              <p>{{ field.label }}: {{ error }}</p>
            {% endfor %}
          {% endfor %}

          {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}

      {% for field in form %}
        <input 
          type="{{ field.field.widget.input_type }}" 
          name="{{ field.name }}" 
          placeholder="{{ field.label }}"
          value="{{ field.value|default:'' }}"
          required
        >
      {% endfor %}


      <button class="btn-main mt-2">Create Account</button>
    </form>

    <p class="mt-3">
      Already have an account? <a href="{% url 'login' %}">Login</a>
    </p>

  </div>
</div>

{% endblock %}